{% extends 'base.html.twig' %}


{% block title %}Mot de passe oublié{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('form') }}
{{ encore_entry_link_tags('formSignup') }}
{% endblock %}

{% block body %}

{% for message in app.flashes('lostPasswordNotSuccess') %}
      <div class="alert uniqueUsername text-center">
        {{ message }}
      </div>
{% endfor %}

<div class="container container-form-custum">
    {{ form_start(form) }}

    

    <div class="block-form-custum">

        <h1 class="h4 mb-3 font-weight-normal text-center">Veuillez entrer le code confidentiel</h1>
      
        <div class="col-12">
            {{ form_row(form.code)}}

        </div>
        
    
       
       

        <div class="col-12 validateBtn">
            {{ form_row(form.Envoyer) }}
        </div>
    </div>


    {{ form_end(form) }}

    

    

</div>


{% endblock %}

{% block javascripts %}


{{ encore_entry_script_tags('form') }}
{{ encore_entry_script_tags('formSignup') }}

{% endblock %}

