{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('form') }}
{{ encore_entry_link_tags('formLogin') }}
{% endblock %}

{% block body %}


{% for message in app.flashes('requestValidationEmail') %}
    <div class="alert alert-success w-100 text-center mt-4">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('validationEmail') %}
    <div class="alert alert-success w-100 text-center mt-4">
        {{ message }}
    </div>
{% endfor %}


{% for message in app.flashes('lostPasswordSuccess') %}
    <div class="alert alert-success w-100 text-center mt-4">
        {{ message }}
    </div>
{% endfor %}


{% for message in app.flashes('successModifyPassword') %}
    <div class="alert alert-success w-100 text-center mt-4">
        {{ message }}
    </div>
{% endfor %}

<div class="container container-form-custum">
    <form action="{{ path('login') }}" method="post">
        {% if error %}
            <div class="erreurLogin">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
    <div class="block-form-custum">
        <h1 class="h4 mb-3 font-weight-normal text-center">Se connecter</h1>

        <div class="social-media-buttons">
            <div class="facebook-connexion">
                <a href="{{ path('connect_facebook') }}">
                    <div class="connexion-btn-facebook">
                        Se connecter avec Facebook
                    </div>
                </a>

                <div class="info-fb-dropdown" style="float:right;">
                    <p class="info-fb-dropbtn">?</p>
                    <div class="info-fb-dropdown-content">
                        <p>Lorsque vous utilisez le Facebook connect, nous collectons les données suivantes: vos prénoms et adresse e-mail afin de créer et gérer votre compte.</p>
                    </div>
                </div>
            </div>
        </div>             

        <hr class="dotted"></hr><p class="or">ou</p><hr class="dotted"></hr>
        <div class="col-12 mt-4 mb-4">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div class="col-12 mt-4 mb-4">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <p><a href="{{path('lostPassword')}}">Mot de passe oublié ?</a></p>
        </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

            <div class="validateBtn">
                <button class="btn btn-lg btn-dark mt-4 mb-4" type="submit">
                    Continuer
                </button>
            </div>    
    </div>
    <p class="aideLogin">Besoin d'aide ? cliquez <a href="{{ path('contact') }}">ici</a></p>
    </form>

</div>
<div class="container w-100 text-center">
    <p class="h5 mb-3 font-weight-normal text-center">Pas encore membre ?</p>
    <div class="validateBtn" >
        <a class="btn btn-dark mt-4 mb-4" id="redirectBtn" href="{{path('signup')}}" role="button">Créez-vous un compte</a>
    </div>
</div>
{% endblock %}