{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="container container-form-custum">
    <form action="{{ path('login') }}" method="post">
        {% if error %}
            <div class="erreurLogin">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
    <div class="block-form-custum">
        <h1 class="h4 mb-3 font-weight-normal text-center">Se connecter</h1>

        <div class="fb-login-button" data-size="medium" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true" data-width=""><a href="{{ path('connect_facebook_start') }}">
    Facebook
</a></div>

        <div class="col-12 mt-4 mb-4">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div class="col-12 mt-4 mb-4">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}">

            <div class="validateBtn">
                <button class="btn btn-lg btn-dark mt-4 mb-4" type="submit">
                    Continuer
                </button>
            </div>    
    </div>
    <p class="aideLogin">Besoin d'aide? cliquez <a href="{{ path('contact') }}">ici</a></p>
    </form>

</div>
<div class="container w-100 text-center">
    <p class="h5 mb-3 font-weight-normal text-center">Pas encore membre ?</p>
    <div class="validateBtn" >
        <a class="btn btn-dark mt-4 mb-4" id="redirectBtn" href="{{path('signup')}}" role="button">Créez vous un compte</a>
    </div>
</div>
{% endblock %}