{% extends 'base.html.twig' %}


{% block title %}Acceuil{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block body %}



<!-- 
JUMBOTRON (image-flowers)
-->
<div class="jumbotron jumbotron-fluid jumbotron-size-image-flowers background-image-flowers">
    <div class="container container-size-image-flowers">
        <h1 class="display-4 title-image-flowers">Bienvenue Titre du site</h1>
        <p class="lead paragraph-image-flowers-1">
            Cette application est un espace communautaire qui recense des recettes écologiques de produits destinés à la
            vie quotidienne à confectionner chez soi.
        </p>
        <p class="lead paragraph-image-flowers-2">
            N’hésitez pas à nous rejoindre, que ce soit pour partager vos recettes ou pour en collecter.
        </p>
        <p class="lead paragraph-image-flowers-3">
            Ensemble créons une plateforme qui propose des solutions écologique et souvent aussi économique pour un
            environnement plus sain.
        </p>
    </div>
</div>

<!-- 
LAST ARTICLES
-->
<h1 class="text-center mb-4 title-custum">Nos derniers articles</h1>

<div class="container-fluid my-4 container-carousel-custum d-flex flex-column justify-content-center">


    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a> 
        <!--/.Controls-->
        <!--Controls-->
        <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->


        <!--Indicators-->    
        <ol class="carousel-indicators carousel-indicator-custum">
            <li data-target="#multi-item-example" data-slide-to="0"  class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1" ></li>
            <li data-target="#multi-item-example" data-slide-to="2" ></li>
        </ol>  
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner container-slides-custum" role="listbox">

            <!--First slide-->
            <div class="carousel-item carousel-item-custum  active">

                <div class="row">
                    {% for lastArticle in lastArticles|slice(0, 3) %}


                    {% set classAdd = 'clearfix d-none d-md-block' %}
                    {% if (loop.first)  %}
                    {% set classAdd = ''%}
                    {% endif %}

                    <div class="col-md-4 {{classAdd}}">
                        <div class="card mb-2">

                            <!-- image -->
                            <img class="card img-fluid"
                                src="{{ asset("build/images/" ~ lastArticle.category.picture ) }} "
                                alt="image represent category {{ lastArticle.category.name}}">

                            <!-- All text -->
                            <div class="card-body-custum">

                                <!-- title -->
                                <h4 class="card-title-custum">
                                    <a href="{{path('articleDetails', {'slug':lastArticle.slug})}}" class="link-custum">
                                        {{ lastArticle.title }}
                                    </a>
                                </h4>

                                <!-- author -->
                                <p class="card-paragraph card-paragraph-author">
                                    <a href="#" class="link-custum">
                                        {{ lastArticle.user.viewUsername }}
                                    </a>
                                </p>

                                <!-- summary -->
                                <p class="card-paragraph card-paragraph-summary">
                                    {{ lastArticle.summary}}
                                </p>



                                {% set sum = 0 %}

                                {# Sum of votes for one article #}
                                {% for votes in lastArticle.votes %}
                                {% set sum = sum + votes.voteValue %}
                                {% endfor %}

                                {# If article have a vote #}
                                {% if (sum != 0) %}

                                {# average #}
                                {% set average = sum / lastArticle.votes|length %}
                                {% set noteName = 'Noté :' %}

                                {% if (average|round == 1) %}
                                {% set label = 'Mediocre' %}
                                {% endif %}

                                {% if (average|round == 2) %}
                                {% set label = 'Pas mal' %}
                                {% endif %}

                                {% if (average|round == 3) %}
                                {% set label = 'Bien' %}
                                {% endif %}

                                {% if (average|round == 4) %}
                                {% set label = 'Super' %}
                                {% endif %}

                                {% if (average|round == 5) %}
                                {% set label = 'Excellent' %}
                                {% endif %}

                                {# article haven't a vote #}
                                {% else %}
                                {% set noteName = '' %}
                                {% set label = 'Non noté' %}
                                {% endif %}


                                <p class="card-paragraph-note">
                                    {{noteName}} {{label}}
                                </p>

                                <div class="d-flex justify-content-center">
                                     <a class="btn btn-primary btn-articleDetails" href="{{path('articleDetails', {'slug':lastArticle.slug})}}" role="button">En savoir plus</a>
                                </div>

                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item carousel-item-custum  ">

                <div class="row">

                    {% for lastArticle in lastArticles|slice(3, 5) %}


                    {% set classAdd = 'clearfix d-none d-md-block' %}
                    {% if (loop.first)  %}
                    {% set classAdd = ''%}
                    {% endif %}
                    <div class="col-md-4 {{classAdd}}">
                        <div class="card mb-2">

                            <!-- image -->
                            <img class="card img-fluid"
                                src="{{ asset("build/images/" ~ lastArticle.category.picture ) }} "
                                alt="image represent category {{ lastArticle.category.name}}">

                            <!-- All text -->
                            <div class="card-body-custum">

                                <!-- title -->
                                <h4 class="card-title-custum">
                                    <a href="{{path('articleDetails', {'slug':lastArticle.slug})}}" class="link-custum">
                                        {{ lastArticle.title }}
                                    </a>
                                </h4>

                                <!-- author -->
                                <p class="card-paragraph card-paragraph-author">
                                    <a href="#" class="link-custum">
                                        {{ lastArticle.user.viewUsername }}
                                    </a>
                                </p>

                                <!-- summary -->
                                <p class="card-paragraph card-paragraph-summary">
                                    {{ lastArticle.summary}}
                                </p>



                                {% set sum = 0 %}

                                {# Sum of votes for one article #}
                                {% for votes in lastArticle.votes %}
                                {% set sum = sum + votes.voteValue %}
                                {% endfor %}

                                {# If article have a vote #}
                                {% if (sum != 0) %}

                                {# average #}
                                {% set average = sum / lastArticle.votes|length %}
                                {% set noteName = 'Noté :' %}

                                {% if (average|round == 1) %}
                                {% set label = 'Mediocre' %}
                                {% endif %}

                                {% if (average|round == 2) %}
                                {% set label = 'Pas mal' %}
                                {% endif %}

                                {% if (average|round == 3) %}
                                {% set label = 'Bien' %}
                                {% endif %}

                                {% if (average|round == 4) %}
                                {% set label = 'Super' %}
                                {% endif %}

                                {% if (average|round == 5) %}
                                {% set label = 'Excellent' %}
                                {% endif %}

                                {# article haven't a vote #}
                                {% else %}
                                {% set noteName = '' %}
                                {% set label = 'Non noté' %}
                                {% endif %}


                                <p class="card-paragraph-note">
                                    {{noteName}} {{label}}
                                </p>

                                <div class="d-flex justify-content-center">
                                   <a class="btn btn-primary  btn-articleDetails" href="{{path('articleDetails', {'slug':lastArticle.slug})}}" role="button">En savoir plus</a> 
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}




                </div>
                <!--/.Second slide-->

            </div>
            <!--/.Second slide-->

            <!--Mobile slide-->
            <div id="mobile-slide" class="carousel-item carousel-item-custum  ">

                <div class="row">

                    {% for lastArticle in lastArticles|slice(5) %}

                    <div class="col-md-4 ">
                        <div class="card mb-2">

                            <!-- image -->
                            <img class="card img-fluid"
                                src="{{ asset("build/images/" ~ lastArticle.category.picture ) }} "
                                alt="image represent category {{ lastArticle.category.name}}">

                            <!-- All text -->
                            <div class="card-body-custum">

                                <!-- title -->
                                <h4 class="card-title-custum">
                                    <a href="{{path('articleDetails', {'slug':lastArticle.slug})}}" class="link-custum">
                                        {{ lastArticle.title }}
                                    </a>
                                </h4>
                                <!-- author -->
                                <p class="card-paragraph card-paragraph-author">
                                    <a href="#" class="link-custum">
                                        {{ lastArticle.user.viewUsername }}
                                    </a>
                                </p>

                                <!-- summary -->
                                <p class="card-paragraph card-paragraph-summary">
                                    {{ lastArticle.summary}}
                                </p>



                                {% set sum = 0 %}

                                {# Sum of votes for one article #}
                                {% for votes in lastArticle.votes %}
                                {% set sum = sum + votes.voteValue %}
                                {% endfor %}

                                {# If article have a vote #}
                                {% if (sum != 0) %}

                                {# average #}
                                {% set average = sum / lastArticle.votes|length %}
                                {% set noteName = 'Noté :' %}

                                {% if (average|round == 1) %}
                                {% set label = 'Mediocre' %}
                                {% endif %}

                                {% if (average|round == 2) %}
                                {% set label = 'Pas mal' %}
                                {% endif %}

                                {% if (average|round == 3) %}
                                {% set label = 'Bien' %}
                                {% endif %}

                                {% if (average|round == 4) %}
                                {% set label = 'Super' %}
                                {% endif %}

                                {% if (average|round == 5) %}
                                {% set label = 'Excellent' %}
                                {% endif %}

                                {# article haven't a vote #}
                                {% else %}
                                {% set noteName = '' %}
                                {% set label = 'Non noté' %}
                                {% endif %}


                                <p class="card-paragraph-note">
                                    {{noteName}} {{label}}
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-primary  btn-articleDetails" href="{{path('articleDetails', {'slug':lastArticle.slug})}}" role="button">En savoir plus</a> 
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}




                </div>
                <!--/.Second slide-->

            </div>
            <!--/ Mobile Slide-->



        </div>
        <!--/.Slides -->


    </div>
    <!-- /.Carousel Wrapper-->

</div>



<!-- 
BEST ARTICLES 
-->
<h1 class="text-center mb-4 title-custum best-article">Nos meilleurs articles</h1>

<div class="container-fluid my-4 container-carousel-custum d-flex flex-column justify-content-center">

    <!--Carousel Wrapper-->
    <div id="multi-item-example-2" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <a class="carousel-control-prev" href="#multi-item-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a> 
        <!--/.Controls-->
        <!--Controls-->
        <a class="carousel-control-next" href="#multi-item-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->


        <!--Indicators-->    
        <ol class="carousel-indicators carousel-indicator-custum">
            <li data-target="#multi-item-example-2" data-slide-to="0"  class="active"></li>
            <li data-target="#multi-item-example-2" data-slide-to="1" ></li>
            <li data-target="#multi-item-example-2" data-slide-to="2" ></li>
        </ol>  
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner container-slides-custum" role="listbox">

            <!--First slide-->
            <div class="carousel-item carousel-item-custum  active">

                <div class="row">
                    {% for bestArticle in bestArticles|slice(0, 3) %}


                    {% set classAdd = 'clearfix d-none d-md-block' %}
                    {% if (loop.first)  %}
                    {% set classAdd = ''%}
                    {% endif %}

                    <div class="col-md-4 {{classAdd}}">
                        <div class="card mb-2">

                            <!-- image -->
                            <img class="card img-fluid"
                                src="{{ asset("build/images/" ~ bestArticle.category_picture ) }} "
                                alt="image represent category {{bestArticle.category_name}}">

                            <!-- All text -->
                            <div class="card-body-custum">

                                <!-- title -->
                                <h4 class="card-title-custum">
                                    <a href="{{path('articleDetails', {'slug':bestArticle.slug})}}" class="link-custum">
                                        {{bestArticle.title}}
                                    </a>
                                </h4>

                                <!-- author -->
                                <p class="card-paragraph card-paragraph-author">
                                    <a href="#" class="link-custum">
                                        {{bestArticle.username}}
                                    </a>
                                </p>

                                <!-- summary -->
                                <p class="card-paragraph card-paragraph-summary">
                                    {{bestArticle.summary}}
                                </p>

                                {% set noteName = 'voté' %}

                                {% if (bestArticle.moyen|round == 1) %}
                                {% set label = 'Mediocre' %}        
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 2) %}
                                {% set label = 'Pas mal' %}
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 3) %}
                                {% set label = 'Bien' %}
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 4) %}
                                {% set label = 'Super' %}
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 5) %}
                                {% set label = 'Excellent' %}
                                {% endif %}


                                <p class="card-paragraph-note">
                                    {{noteName}} {{label}}
                                </p>

                                <div class="d-flex justify-content-center">
                                     <a class="btn btn-primary btn-articleDetails" href="{{path('articleDetails', {'slug':bestArticle.slug})}}" role="button">En savoir plus</a>
                                </div>

                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item carousel-item-custum">

                <div class="row">

                    {% for bestArticle in bestArticles|slice(3, 5) %}


                    {% set classAdd = 'clearfix d-none d-md-block' %}
                    {% if (loop.first)  %}
                    {% set classAdd = ''%}
                    {% endif %}
                    <div class="col-md-4 {{classAdd}}">
                        <div class="card mb-2">

                            <!-- image -->
                            <img class="card img-fluid"
                                src="{{ asset("build/images/" ~ bestArticle.category_picture ) }} "
                                alt="image represent category {{bestArticle.category_name}}">

                            <!-- All text -->
                            <div class="card-body-custum">

                                <!-- title -->
                                <h4 class="card-title-custum">
                                    <a href="{{path('articleDetails', {'slug':bestArticle.slug})}}" class="link-custum">
                                        {{bestArticle.title}} 
                                    </a>
                                </h4>

                                <!-- author -->
                                <p class="card-paragraph card-paragraph-author">
                                    <a href="#" class="link-custum">
                                        {{bestArticle.username}}
                                    </a>
                                </p>

                                <!-- summary -->
                                <p class="card-paragraph card-paragraph-summary">
                                    {{bestArticle.summary}}
                                </p>

                                {% set noteName = 'voté' %}

                                {% if (bestArticle.moyen|round == 1) %}
                                {% set label = 'Mediocre' %}        
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 2) %}
                                {% set label = 'Pas mal' %}
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 3) %}
                                {% set label = 'Bien' %}
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 4) %}
                                {% set label = 'Super' %}
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 5) %}
                                {% set label = 'Excellent' %}
                                {% endif %}


                                <p class="card-paragraph-note">
                                    {{noteName}} {{label}}
                                </p>

                                <div class="d-flex justify-content-center">
                                   <a class="btn btn-primary  btn-articleDetails" href="{{path('articleDetails', {'slug':bestArticle.slug})}}" role="button">En savoir plus</a> 
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}




                </div>
                <!--/.Second slide-->

            </div>
            <!--/.Second slide-->

            <!--Mobile slide-->
            <div id="mobile-slide-2" class="carousel-item carousel-item-custum  ">

                <div class="row">

                    {% for bestArticle in bestArticles|slice(5) %}

                    <div class="col-md-4 ">
                        <div class="card mb-2">

                            <!-- image -->
                            <img class="card img-fluid"
                                src="{{ asset("build/images/" ~ bestArticle.category_picture ) }} "
                                alt="image represent category {{bestArticle.category_name}}">

                            <!-- All text -->
                            <div class="card-body-custum">

                                <!-- title -->
                                <h4 class="card-title-custum">
                                    <a href="{{path('articleDetails', {'slug':bestArticle.slug})}}" class="link-custum">
                                        {{bestArticle.title}}
                                    </a>
                                </h4>
                                <!-- author -->
                                <p class="card-paragraph card-paragraph-author">
                                    <a href="#" class="link-custum">
                                        {{bestArticle.username}}
                                    </a>
                                </p>

                                <!-- summary -->
                                <p class="card-paragraph card-paragraph-summary">
                                    {{bestArticle.summary}}
                                </p>


                                {% set noteName = 'voté' %}

                                {% if (bestArticle.moyen|round == 1) %}
                                {% set label = 'Mediocre' %}        
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 2) %}
                                {% set label = 'Pas mal' %}
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 3) %}
                                {% set label = 'Bien' %}
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 4) %}
                                {% set label = 'Super' %}
                                {% endif %}
                            
                                {% if (bestArticle.moyen|round == 5) %}
                                {% set label = 'Excellent' %}
                                {% endif %}

                                <p class="card-paragraph-note">
                                    {{noteName}} {{label}}
                                </p>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-primary  btn-articleDetails" href="{{path('articleDetails', {'slug':bestArticle.slug})}}" role="button">En savoir plus</a> 
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}




                </div>
                <!--/.Second slide-->

            </div>
            <!--/ Mobile Slide-->



        </div>
        <!--/.Slides -->


    </div>
    <!-- /.Carousel Wrapper-->

</div>

  
    
    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}


    {% endblock %}