{% extends 'base.html.twig' %}


{% block title %}Admin Board{% endblock %}

{% block stylesheets %}
{{ parent()}}
{{ encore_entry_link_tags('user_details') }}
{{ encore_entry_link_tags('modal') }}
{% endblock %}


{% block body %}

<div class="card card-custum">
    <div class="card-body">
      <img class="card img-fluid" src="{{ asset("build/images/iconUser.png") }} "
          alt="image represent icon user avatar">
      <h5 class="card-title title-custum">{{user.viewUsername}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">id {{user.id}}</h6>
      <p class="card-text">email : {{user.email}}</p>
      <p class="card-text">date de naissance : {{user.birthDate|date("d/m/Y", "Europe/Paris")}}</p>
      {% for role in user.roles %}
        <p class="card-text">{{role}}</p>  
      {% endfor %}  
      <p class="card-text">Profil créé le : {{user.createdAt|date("d/m/Y", "Europe/Paris")}}</p> 
      <a href="#" class="card-link">Modifier</a>
      <button type="button" class="btn btn-primary link-delete" data-toggle="modal"
      data-target="#modalDeleteAccount-{{ user.id }}">
        Supprimer
      </button>  
    </div>

    <!-- Modal Delete an account -->
        <div class="modal fade modal-container-custum" id="modalDeleteAccount-{{ user.id }}" tabindex="-1" role="dialog"
          aria-labelledby="modalDeleteAccountTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Êtes vous sûre de vouloir supprimer l'utilisateur {{ user.viewUsername }} dont l'id est {{ user.id }} ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Tous les articles de cet utilisateur ainsi que ses contributions aux votes seront aussi supprimés.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary button-yes-custum">
                  <a href="{{path('deleteUser', {'id' : user.id}) }}">
                    Oui
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>

  </div>

  <h2 class="text-center mt-5 mb-4">Les articles de {{user.viewUsername}}</h2>


    {% if articles is empty %}
          
        <p class="text-center"> L'utilisateur n'a pas écrit d'article </p>

    {% else %}
    <!-- Block articles users -->
    <div class="w-75 mx-auto d-flex justify-content-center flex-wrap">

    
    {% for article in articles %}
    <p class="px-3 articles-user">
      <a href="{{path('articleDetails', {'slug' : article.slug}) }}">
        {{article.title}}
      </a>
    </p>
    {% endfor %}
  </div>
  <!-- /Block articles users -->
    {% endif %}
{% endblock %}