{% extends 'base.html.twig' %}


{% block title %}Contact{% endblock %}

{% block body %}

<!-- Bloc form container -->
<div class="container container-form-custum">

    {{ form_start(form) }}

    <!-- Bloc form  -->
    <div class="block-form-custum">
        <h1 class="h4 mb-3 font-weight-normal text-center">Nous contacter</h1>
        
         <div class="col-12 ">
            {{ form_row(form.email)}}
        </div>

        <div class="col-12">
            {{ form_row(form.title)}}
        </div>

        <div class="col-12">
            {{ form_row(form.message)}}
        </div>
        
        <div class="col-12 validateBtn">
            {{ form_row(form.Envoyer) }}
        </div>
    </div>
     <!-- Bloc form  -->

    {{ form_end(form) }}

</div>
<!-- /Bloc form container-->



{% endblock %}