<div id="overlay" style="display: none;"></div>

    <div id="siteNavbar">
        <button id="sideOpenbtn">
            <div class="line1"></div>
            <div id="line2"></div>
            <div class="line1"></div>
        </button>
        
        <a id="navTitle" href="{{path('homepage')}}"> <img class="col-12 logo-navbar" src="{{ asset("build/images/Logo.jpg") }} "
            alt="image represent our logo"></a>
        <div id="linkList">
            <div class="subnav">
                <button class="navLinks">Catégories</button>

                <div class="show">   
                    {% for category in categories %}
                        <a class="sidebarCategorie" href="{{path('articleByCategory', {'slug':category.slug})}}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <button class="navLinks"><a href="{{path('contact')}}">Nous contacter</a></button>
            <button class="navLinks"><a href="{{path('articleNew')}}" id="addArticleNavBtn">Ajouter un article</a></button>
        </div>

        {% if app.user %}

        <div class="userNav">
            <button class="navProfil">Bonjour, {{ app.user.viewUsername }} &#9662</button>

            <div class="showUserNav">   
                    <a class="sidebarCategorie" href="{{path('showProfil')}}">Mon profil</a>
                    <a class="sidebarCategorie" href="{{path('logout')}}">Déconnexion</a>
            </div>
        </div>  

        <a href="{{path('logout')}}"><button id="deconnexionBtn">Déconnexion</button></a>

        {% else %} 
        <a href="{{path('login')}}"><button id="connexionBtn">Connexion</button></a>
        {% endif %}
        </div>



    <div id="mySidebar" class="sidebar">
        <div id="bonjourSidebar">
            <button class="closebtn">&times;</button>

            {% if app.user %}
                <h5>Bonjour, {{ app.user.viewUsername }}</h5>
                
            {% else %} 
                <h5>Bonjour, veuillez vous identifier</h5>
            {% endif %}
        
        </div>
        <div>
            <a class="sideLinks" href="{{path('articleNew')}}" id="addArticleSidebarBtn"><h5>Ajouter un article</h5></a>
        </div>

        <h5 id="categoriesNav">Catégories</h5> 
            <div id="sideList">  
            
                {% for category in categories %}
                    <a class="sidebarCategorie" href="{{path('articleByCategory', {'slug':category.slug})}}">{{ category.name }}</a>
                {% endfor %}

                <a class="sideLinks" href="{{path('contact')}}"><h5>Nous contacter</h5></a>

                {% if app.user %}
                    <a class="sideLinks" href="{{path('showProfil')}}"><h5>Mon profil</h5></a>
                    <a class="sideLinks" href="{{path('logout')}}"><h5>Se déconnecter</h5></a>
                {% else %} 
                    <a class="sideLinks" href="{{path('login')}}"><h5>Se connecter</h5></a>           
                    <a class="sideLinks" href="{{path('signup')}}"><h5>S'inscrire</h5></a>
                {% endif %}
                        
            </div>
    </div>