
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="{{ asset("build/images/favicon.ico") }}" type='image/x-icon'>
        <title>{% block title %}Bienvenue !{% endblock %}</title>        
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% if unlessNavbar is defined %}

            <p class=" container title-webSite">
                <a href="{{path('homepage')}}">       
                    <img class="col-10 col-sm-7 col-md-6 col-lg-5 col-xl-4" src="{{ asset("build/images/Logo.jpg") }} "
                    alt="image represent our logo">   
                </a>
            </p>

        {% else %}

        <div id="sidebar">
        {{ render("/categorie/") }}
        </div>

        {% endif %}

    </head>
    <body>

        <div class="all-body-container">
        {% block body %}{% endblock %}
        </div>

        {% if unlessFooter is not defined %}
            {% include "_footer.html.twig" %}    
        {% endif %}

     
            
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}        
        {% endblock %}
    </body>
</html>
