{% extends 'base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

    {% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article_details') }}
    {{ encore_entry_link_tags('modal') }}
    {% endblock %}


{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    
<div id="articlePage">
    <h1 class="articleTitle">
        {{ article.title }}
    </h1>
    <div class="theNote">
        {% set sum = 0 %}
        {# Sum of votes for one article #}
        {% for votes in article.votes %}
        {% set sum = sum + votes.voteValue %}
        {% endfor %}
        {# If article have a vote #}
        {% if (sum != 0) %}
            {# average #}
            {% set average = sum / article.votes|length %}
            {% set noteName = 'Noté par la communauté :' %}
            {% if (average|round == 1) %}
                {% set label = 'Mediocre' %}
            {% endif %}
            {% if (average|round == 2) %}
                {% set label = 'Pas mal' %}
            {% endif %}
            {% if (average|round == 3) %}
                {% set label = 'Bien' %}
            {% endif %}
            {% if (average|round == 4) %}
                {% set label = 'Super' %}
            {% endif %}
            {% if (average|round == 5) %}
                {% set label = 'Excellent' %}
            {% endif %}
            {# article doesn't have a vote #}
            {% else %}
                {% set noteName = '' %}
                {% set label = 'Non noté' %}
        {% endif %}
        {{noteName}} {{label}}
    </div>
    <div class="articleDetails">
            <!-- image -->
            <img id="articleImageDetail" src="{{ asset("build/images/" ~ article.category.picture ) }} "
            alt="image represent category {{ article.category.name}}"> 
            <div class="dropdown-flag-custom">
                <div class="dropdown m-3">
                
                    <button class="btn bg-white btn-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ...
                    </button>

                    <div class="dropdown-menu p-0 mt-1" aria-labelledby="dropdownMenu2">
                        <div class="dropdown-menu-flag-custom"> 
                            <form action="{{ path('flag', {'slug' : article.slug}) }}" method="post">
                                <button type="submit" name="flag" value="true">Signaler l'article</button>
                            </form>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('deleteFlag', {'id' : article.id}) }}">Retirer signalement</a>                                                     
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('article_update', {'slug' : article.slug}) }}">Modifier l'article</a>                                                      
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') %}
                                    <!-- Button trigger modal -->
                                <button type="button" class="btn article-delete" data-toggle="modal"
                                    data-target="#modalDeleteArticle-{{article.id}}">
                                    Supprimer
                                </button>                      
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        <div class="articleAuthor">
            <a href="{{path('articleByUser', {'slug':article.user.slug})}}"><h3>{{ article.user.viewUsername}}</h3></a>
        </div>

        <div class="articleCategory" >                              
            <a href="{{path('articleByCategory', {'slug':article.category.slug})}}" style="color:{{ article.category.color }}">{{ article.category.name }}</a>
        </div>
        <div class="fullSummary">
            <p>{{ article.summary }}</p>
        </div>
        <div class="ingredientInstruction">
            <div class="ingredient">
                <h3>Ingrédients</h3>
                <ul>
                    {% for ingredientList in article.ingredients %}
                        <li>{{ ingredientList.quantity }} {{ ingredientList.ingredient }}</li>
                    {% endfor %}
                </ul> 
            </div>
            <div class="instruction">
                <h3>Instruction</h3>
                <p>{{ article.instruction }}</p>
            </div>
        </div>
    {% if app.user %}
        {% if vote %}
        <div class="UserThoughs">    
                {% if (vote.voteValue == 1) %}
                    {% set label = 'Mediocre' %}
                {% endif %}
                {% if (vote.voteValue == 2) %}
                    {% set label = 'Pas mal' %}
                {% endif %}
                {% if (vote.voteValue == 3) %}
                    {% set label = 'Bien' %}
                {% endif %}
                {% if (vote.voteValue == 4) %}
                    {% set label = 'Super' %}
                {% endif %}
                {% if (vote.voteValue == 5) %}
                    {% set label = 'Excellent' %}
                {% endif %}
                <p>Vous avez trouvé cet article {{label}}</p>
            </div>
        {% endif %}

    {% endif %}
        <div class="dropdown text-center">
            <button class="btn btn-dark dropdown-toggle mb-5" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Que pensez-vous de cet article ?
            </button>
            
            <div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-vote-custom">
                    <form action="{{ path('vote', {'slug' : article.slug}) }}" method="post">
                        <button class="dropdown-item-row pt-2 pr-3 pb-2 pl-3 active" type="submit" name="userVote" id="mediocre" value="1">Médiocre</button>
                        <button class="dropdown-item-row pt-2 pr-3 pb-2 pl-3" type="submit" name="userVote" value="2">Pas mal</button>
                        <button class="dropdown-item-row pt-2 pr-3 pb-2 pl-3" type="submit" name="userVote" value="3">Bien</button>
                        <button class="dropdown-item-row pt-2 pr-3 pb-2 pl-3" type="submit" name="userVote" value="4">Super</button>
                        <button class="dropdown-item-row pt-2 pr-3 pb-2 pl-3" type="submit" name="userVote" id="excellent" value="5">Excellent</button>       
                    </form>
                </div>
            </div>
        </div>
        <p class="dateDeCreation">cet article à été créé le : {{ article.createdAt|date("d/m/Y") }}</p>
    </div>
</div>

    <!-- Modal Delete article -->
      <div class="modal fade modal-container-custum" id="modalDeleteArticle-{{article.id}}" tabindex="-1" role="dialog"
        aria-labelledby="modalDeleteArticleTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Voulez vous vraiment supprimer l'article "{{article.title}}" ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary button-yes-custum">
                <a href="{{path('article_delete', {'slug' : article.slug}) }}">
                  Oui
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('article_details') }} 
    {% endblock %}

