{% extends 'base.html.twig' %}


{% block title %}{{ user.viewUsername }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('article_by_category') }}
{{ encore_entry_link_tags('pagination') }}
{% endblock %}

{% block body %}

<div class="articleAuthor d-flex">
        {# Default avatar #}
        {% if user.avatar == 'defaultAvatar.jpg' %}
        <img class="avatarUser" src="{{ asset("build/images/" ~ user.avatar ) }}"
            alt="image represent avatarUser {{ user.viewUsername }}">
        {% else %}
        {# user avatar #}
        <img class="avatarUser" src="{{ asset("uploads/user/avatar/" ~ user.avatar ) }}"
            alt="image represent avatarUser {{ user.viewUsername }}">
        {% endif %}
        <div class="user-article-title">
            <p class="user-article-title-p">{{user.viewUsername}}</p>
        </div>
</div>


<!-- Container Cards -->
<div class="container container-custum row">


    {% for article in articles %}


    <div class="card card-custum col-sm-5">
        {# Default articleImage #}
            {% if article.image == null %}
            <img class="card img-fluid" src="{{ asset("build/images/" ~ article.categories.first.picture ) }} "
            alt="image represent category {{ article.categories.first.name }}">
            {% else %}
        {# user articleImage #}
            <img id="articleImageDetail" src="{{ asset("uploads/article/image/" ~ article.image ) }} "
            alt="image represent article">
            {% endif %}

        <div class="card-body card-body-custum">
            <h5 class="card-title card-title-custum">
                <a href="{{path('articleDetails', {'slug':article.slug})}}" class="link-custum">
                   {{article.title}} 
                </a>
            </h5>

            <button class="btn btn-secondary btn-sm dropdown-toggle category-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Catégories
            </button>
            <div class="dropdown-menu">
                <ul class="card-text-category">
                    {% for category in article.categories %}
                        <li><a href="{{path('articleByCategory', {'slug':category.slug})}}" class="link-custum">
                            {{category.name}}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>


            <p class="card-paragraph card-paragraph-summary">
                {{article.summary}} 
            </p>

            {% set sum = 0 %}

            {# Sum of votes for one article #}
            {% for votes in article.votes %}
            {% set sum = sum + votes.voteValue %}
            {% endfor %}

            {# If article have a vote #}
            {% if (sum != 0) %}

            {# average #}
            {% set average = sum / article.votes|length %}
            {% set noteName = 'Noté :' %}

            {% if (average|round == 1) %}
            {% set label = 'Médiocre' %}
            {% endif %}

            {% if (average|round == 2) %}
            {% set label = 'Pas mal' %}
            {% endif %}

            {% if (average|round == 3) %}
            {% set label = 'Bien' %}
            {% endif %}

            {% if (average|round == 4) %}
            {% set label = 'Super' %}
            {% endif %}

            {% if (average|round == 5) %}
            {% set label = 'Excellent' %}
            {% endif %}

            {# article haven't a vote #}
            {% else %}
            {% set noteName = '' %}
            {% set label = 'Non noté' %}
            {% endif %}

            
            <p class=" card-paragraph card-paragraph-note">
                {{noteName}} {{label}}
            </p>

            <div class="d-flex justify-content-center">
                <a href="{{path('articleDetails', {'slug':article.slug})}}" class="btn btn-primary btn-articleDetails">Lire la suite</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

<div class="pagination-custum">
{{ knp_pagination_render(articles) }}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('pagination') }}
{% endblock %}