{% extends 'base.html.twig' %}


{% block title %}Modification du mot de passe{% endblock %}

{% block stylesheets %}
{{ parent()}}
{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}



<div class="container container-form-custum">
    {{ form_start(form) }}

    <div class="block-form-custum">

        <h1 class="h4 mb-3 font-weight-normal text-center">Modifier votre mot de passe</h1>

        {% if form.oldPassword is defined %}
        <div class="col-12 edit-password-input">
            {{ form_label(form.oldPassword)}}

            {# error old password #}
            {% for message in app.flashes('NotsuccessModifyPassword') %}
            <div class="w-100 oldPasswordNotFound">
                {{ message }}
            </div>
            {% endfor %}

            {{ form_widget(form.oldPassword)}}
        </div>
        {% endif %}


        <div class="col-12 edit-password-input">
            {{ form_row(form.plain_password)}}
        </div>



        <div class="col-12 validateBtn">
            {{ form_row(form.Modifier) }}
        </div>
    </div>


    {{ form_end(form) }}

</div>


{% endblock %}