{% extends 'base.html.twig' %}


{% block title %}Inscription{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('form') }}
{{ encore_entry_link_tags('formSignup') }}
{% endblock %}

{% block body %}



<div class="container container-form-custum">
    {{ form_start(form) }}

    

    <div class="block-form-custum">

        <h1 class="h4 mb-3 font-weight-normal text-center">S'inscrire</h1>
        <div class="col-12">
            {{ form_row(form.username)}}

        </div>
        <div class="col-12">
            {{ form_row(form.email)}}

        </div>
        <div class="col-12">
            {{ form_row(form.plain_password)}}

        </div>
        {% form_theme form '@PrestaImage/form/bootstrap_4.html.twig' %}
       
        <div class="col-12"> 
            {{ form_row(form.avatarFile) }}  
        </div>

        
        <div class="col-12 mt-4 condition-signup">
            {{ form_row(form.condition)}} 
        </div>
    
        <div class="mt-4 ml-4" style="transform:scale(0.80);-webkit-transform:scale(0.70);transform-origin:0 0;-webkit-transform-origin:0 0;">
            {% form_theme form '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}
 
             {{ form_widget(form.recaptcha, { 'attr': {
                 'options' : {
                 'theme': 'light',
                 'type': 'image',
                 'size': 'normal'
                 },
              } }) }} 
         </div>
        
       

        <div class="col-12 validateBtn">
            {{ form_row(form.Envoyer) }}
        </div>
    </div>


    {{ form_end(form) }}

    

    

</div>


{% endblock %}

{% block javascripts %}


{{ encore_entry_script_tags('form') }}
{{ encore_entry_script_tags('formSignup') }}

{% endblock %}

