{% extends 'base.html.twig' %}


{% block title %}Inscription{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}


 
<div class="container container-form-custum">
    {{ form_start(form) }}
    
        <div class="block-form-custum">

        <h1 class="h4 mb-3 font-weight-normal text-center">S'inscrire</h1>
            <div class="col-12">
                {{ form_row(form.username)}}
         
            </div>
            <div class="col-12">
                {{ form_row(form.email)}}
         
            </div>
            <div class="col-12">
                {{ form_row(form.plain_password)}}
         
            </div>
            <div class="col-12">
                {{ form_label(form.birth_date)}} 
                <div class="input-birth-date">
                    {{ form_widget(form.birth_date)}}  
                </div>  
            </div>
            <div class="col-12 validateBtn">
                {{ form_row(form.Envoyer) }}
            </div>
        </div>


    {{ form_end(form) }}

</div>
{% endblock %}

{% block javascripts %}



<script src="https://www.google.com/recaptcha/api.js?render=_reCAPTCHA_site_key"></script>
<script>
        grecaptcha.ready(function() {
            grecaptcha.execute('reCAPTCHA_site_key', {action: 'homepage'});
        });
</script>



{% endblock %}



