{% extends 'base.html.twig' %}


{% block title %}Mon profil{% endblock %}


{% block stylesheets %}
{{ parent()}}
{{ encore_entry_link_tags('profil') }}
{{ encore_entry_link_tags('modal') }}
{{ encore_entry_link_tags('tables') }}
{{ encore_entry_link_tags('pagination') }}
{% endblock %}

{% block body %}

{% for message in app.flashes('successArticleDelete') %}
    <div class="alert alert-success w-100 text-center mt-4">
        {{ message }}
    </div>
{% endfor %}



<!-- Block "Information générales" -->
<div class="d-flex flex-column align-items-center mt-5 mb-4">

  <h2>Mes Informations Générales</h2>

<div class="container container-form-custom">

  {% for message in app.flashes('successModifyPassword') %}
      <div class="alert alert-success w-100 text-center mt-4 edit-self">
          {{ message }}
      </div>
  {% endfor %}

  {% for message in app.flashes('successModifySelf') %}
      <div class="alert alert-success w-100 text-center mt-4 edit-self">
          {{ message }}
      </div>
  {% endfor %}


    {{ form_start(form) }}

    <div class="block-form-custom">

      <div class="edit-user-input" id="edit-user-input-image">
        {% form_theme form '@PrestaImage/form/bootstrap_4.html.twig' %}
       
        <div class="col-12"> 
            {{ form_row(form.avatarFile) }}

              {% if app.user.avatar == 'defaultAvatar.jpg' %}
                <img class="avatarUser" src="{{ asset("build/images/" ~ app.user.avatar  ) }}"
                alt="image represent avatarUser {{ app.user.viewUsername  }}">
              {% endif %} 
        </div>
      </div>

      <div class="edit-user-input">
          <div class="input-edit-user-label">
            {{ form_label(form.viewUsername)}}
          </div>
          <div class="input-edit-user-input">
              {{ form_widget(form.viewUsername)}}
          </div>
      </div>
      <div class="error-edit-user">
        {{ form_errors(form.viewUsername)}}
      </div>

        <div class="edit-user-input">
          <div class="input-edit-user-label">
            {{ form_label(form.email)}}
          </div>
          <div class="input-edit-user-input">
            {{ form_widget(form.email)}}
          </div>
          <div class="error-edit-user">
            {{ form_errors(form.email)}}
          </div>
        </div>

      <div class="edit-user-input">
        <div class="input-edit-user-label">
          <p>Mot de passe</p>
        </div>
        <div class="input-edit-user-input">
          <a href="{{path('modifyPassword')}}">modifier</a>
        </div>
      </div>


        <div class="col-12 validateBtn">
            {{ form_row(form.Enregistrer) }}
        </div>

    </div>

    {{ form_end(form) }}

</div>

  <!-- Dropdown for options account -->
  <div class="dropdown dropdown-account-custum text-center">

    <button class="btn dropdown-toggle mb-5" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Paramètres du compte
    </button>


    <div class="dropdown-menu p-0 dropdown-menu-custum text-center" aria-labelledby="dropdownMenuButton">

      <div class="container-parameters-option">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary account-delete " data-toggle="modal"
          data-target="#modalDeleteAccount">
          Supprimer le compte
        </button>

      </div>

    </div>

  </div>
  <!-- /Dropdown for options account -->
</div>
<!-- / Block "Information générales" -->



<!-- Block "Vos articles" -->
<div>
  <h2 class="text-center mb-3">Vos articles</h2>

  {% if articles is empty %}
  <p class="text-center">Vous n'avez pas encore créé d'article</p>
  {% else %}

  <table class="table">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Sommaire</th>
        <th scope="col" class="mobile-option">Option</th>
        <th scope="col" class="desktop-option">Détails</th>
        <th scope="col" class="desktop-option">Modifier</th>
        <th scope="col" class="desktop-option">Supprimer</th>
      </tr>
    </thead>
    <tbody>


      {% for article in articles %}
      <tr>

        <th scope="row">
          <img class="image-category" src="{{ asset("build/images/" ~ article.categories.first.picture ) }} "
            alt="image represent category {{article.categories.first.name}}">
        </th>

        <td>
          {{article.title}}
        </td>

        <td>
          {{article.summary}}
        </td>

        <td class="mobile-option">

          <!-- Dropdown for mobile -->
          <div class="dropdown text-center">

            <button class="btn dropdown-toggle mb-5" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="{{asset("build/images/iconparam.png")}}" alt="icon parameters" class="image-parameters">
            </button>


            <div class="dropdown-menu p-0 dropdown-menu-custum" aria-labelledby="dropdownMenuButton">

              <div class="container-parameters-option">
                <a href="{{path('articleDetails', {'slug' : article.slug}) }}">
                  Détails
                </a>
                <a href="#">
                  Modifier
                </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn article-delete " data-toggle="modal"
                  data-target="#modalDeleteArticle-{{article.id}}">
                  Supprimer
                </button>
              </div>

            </div>

          </div>
          <!-- /Dropdown for mobile -->
        </td>

        <td class="desktop-option">
          <a href="{{path('articleDetails', {'slug' : article.slug}) }}">
            Voir les détails
          </a>
        </td>
        <td class="desktop-option">
          <a href="{{path('article_update', {'slug' : article.slug}) }}">
            Modifier l'article
          </a>
        </td>
        <td class="desktop-option">
          <!-- Button trigger modal -->
          <button type="button" class="btn article-delete " data-toggle="modal"
            data-target="#modalDeleteArticle-{{article.id}}">
            Supprimer l'article
          </button>
        </td>

      </tr>

      <!-- Modal Delete article -->
      <div class="modal fade modal-container-custum" id="modalDeleteArticle-{{article.id}}" tabindex="-1" role="dialog"
        aria-labelledby="modalDeleteArticleTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Voulez-vous vraiment supprimer l'article "{{article.title}}" ?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary button-yes-custum">
                <a href="{{path('article_delete', {'slug' : article.slug}) }}">
                  Oui
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

      {% endif %}
    
    </tbody>
  </table>
</div>

<div class="pagination-custum">
{{ knp_pagination_render(articles) }}
</div>

<!-- /Block "Vos articles" -->

<hr>


<h2 class="text-center mt-5 mb-4">Les articles que vous avez noté</h2>

{% if user.votes is empty %}

<p class="text-center">Vous n'avez pas encore noté d'article </p>

{% else %}

<!-- Block articles voted -->
<div class="w-75 mx-auto d-flex justify-content-center flex-wrap">
  {% for articlevoted in user.votes %}
  <p class="px-3 article-voted">
    <a href="{{path('articleDetails', {'slug' : articlevoted.article.slug}) }}">
      {{articlevoted.article.title}}
    </a>
  </p>
  {% endfor %}
</div>
<!-- /Block articles voted -->
{% endif %}

<!-- Modal Delete account -->
<div class="modal fade modal-container-custum" id="modalDeleteAccount" tabindex="-1" role="dialog"
  aria-labelledby="modalDeleteAccountTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Voulez-vous vraiment supprimer votre compte ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tous vos articles, ainsi que votre contribution aux notes, seront aussi supprimés.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary button-yes-custum">
          <a href="{{path('deleteAccount', {'slug' : user.slug}) }}">
            Oui
          </a>
        </button>
      </div>
    </div>
  </div>
</div>

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('pagination') }}
{{ encore_entry_script_tags('profil') }}
{% endblock %}

{% endblock %}


