<h3>La rubrique écolo</h3>

<strong>Récupération de votre mot de passe</strong>

<p>Si il s'agit d'une erreur merci de ne pas tenir compte de ce message.<p>
<p>Pour réinitialiser votre compte, cliquez sur le <a href="https://la-rubrique-ecolo.com/{{id}}/{{token}}/recuperation">lien</a> suivant et entrer le code confidentiel çi dessous.</p>

<strong> {{code}}</strong>

<p>Ce lien ne fonctionne pas ?</p>
<p>Copiez celui-ci dans la barre d'adresse de votre navigateur :</p>

<p>https://la-rubrique-ecolo.com/{{id}}/{{token}}/recuperation</p>

<br/>

<p>L'équipe de La rubrique écolo</p>

<img  src="{{ email.image('@images/Logo.jpg') }}" alt="Logo">