<h3>Validation de votre compte sur La rubrique écolo</h3>

<strong>Bienvenue sur le site La rubrique écolo</strong>

<p>Merci de nous rejoindre. Cet espace vous permettra de participer activement à la communauté du site.<p>
<p>Pour activer votre compte et valider définitivement votre inscription, cliquez sur le <a href="https://la-rubrique-ecolo.com/{{id}}/{{token}}/validation">lien</a> suivant.</p>

<p>Ce lien ne fonctionne pas ?</p>
<p>Copiez celui-ci dans la barre d'adresse de votre navigateur :</p>

<p>https://la-rubrique-ecolo.com/{{id}}/{{token}}/validation</p>

<br/>

<p>L'équipe de La rubrique écolo</p>

<img  src="{{ email.image('@images/Logo.jpg') }}" alt="Logo">